<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Magazzino</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="visualizzazione">Prodotti</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ms-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link active" aria-current="page" href="registrazione">Registrazione</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link active" aria-current="page" href="login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div *ngIf="isHomePage" class="container d-flex justify-content-center align-items-center vh-100">
  <div *ngIf="!isLoggedIn" class="text-center">
    <h2>Bisogna registrarsi o effettuare il login per visualizzare i prodotti</h2>
    <div class="mt-3">
      <a class="btn btn-primary me-2" href="registrazione">Registrazione</a>
      <a class="btn btn-secondary" href="login">Login</a>
    </div>
  </div>
  <div *ngIf="isLoggedIn" class="text-center">
    <h2>Benvenuto!</h2>
  </div>
</div>


<router-outlet  (activate)="isHomePage = false" (deactivate)="isHomePage = true"></router-outlet>
