<br>
<p *ngIf="movimenti.length == 0">Nessun prodotto disponibile.</p>

<div class="table-container">
    <table class="table" *ngIf="movimenti.length > 0">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Prodotto</th>
          <th>Quantitò</th>
          <th>Utente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimento of movimenti">
          <td>{{ movimento.id }}</td>
          <td>{{ movimento.prodotto_id }}</td>
          <td>{{ movimento.quantita }}</td>
          <td>{{ movimento.utente_id}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  
  
