<div class="Scarico-container">
    <h2>Carico quantità prodotto</h2>
  
    <!-- Mostra il messaggio di errore se le credenziali non sono valide -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <form (ngSubmit)="onScarico()">
          <div class="form-group" >
            <label for="scarico" >Quantià da rimuovere</label>
            <br>
            <input
              type="text"
              id="scarico"
              [(ngModel)]="quantita"
              name="scarico"
              placeholder="Inserisci la quantià del prodotto da rimuovere"
              required
              class="form-control"
            />
          </div>
          <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Scarico</button>
      </div>
    </form>
  </div>

  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Operazione riuscita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          L'rimozione di quantità di prodotto è andata a buon fine
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goToVisualizzazione()">Torna alla visualizzazione</button>
        </div>
      </div>
    </div>
  </div>
  
