<div class="registrazione-container">
    <h2>Registrazione</h2>
  
    <!-- Mostra il messaggio di errore se le credenziali non sono valide -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <br>
    <form (ngSubmit)="onRegistrazione()">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="text"
              id="nome"
              [(ngModel)]="nome"
              name="nome"
              placeholder="Inserisci il tuo nome"
              required
              class="form-control"
            />
          </div>
          <br>
          <div class="form-group">
            <label for="cognome">Cognome</label>
            <input
              type="text"
              id="cognome"
              [(ngModel)]="cognome"
              name="cognome"
              placeholder="Inserisci il tuo cognome"
              required
              class="form-control"
            />
          </div>
          <br>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              [(ngModel)]="email"
              name="email"
              placeholder="Inserisci il tuo email"
              required
              class="form-control"
            />
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Inserisci la tua password"
              required
              class="form-control"
            />
          </div>
          <br>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrazione</button>
      </div>
    </form>
  </div>


  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Operazione riuscita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Registrazione effettuata con successo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goToLogin()">Vai al login</button>
        </div>
      </div>
    </div>
  </div>
  