<div class="creazione-container">
    <h2>Creazione prodotto</h2>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <br>
    <form (ngSubmit)="onCreazione()">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="text"
              id="nome"
              [(ngModel)]="nome"
              name="nome"
              placeholder="Inserisci il nome del prodotto"
              required
              class="form-control"
            />
          </div>
          <br>
          <div class="form-group">
            <label for="codice">Codice</label>
            <input
              type="text"
              id="codice"
              [(ngModel)]="codice"
              name="codice"
              placeholder="Inserisci il codice del prodotto"
              required
              class="form-control"
            />
          </div>
          <br>
      <div class="form-group">
        <label for="quantita">Quantita</label>
        <input
          type="text"
          id="quantita"
          [(ngModel)]="quantita"
          name="quantita"
          placeholder="Inserisci la quantità del prodotto"
          required
          class="form-control"
        />
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Creazione</button>
      </div>
    </form>
  </div>
  
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Operazione riuscita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Il prodotto è stato creato con successo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goToVisualizzazione()">Torna alla visualizzazione</button>
          <button type="button" class="btn btn-primary" (click)="continueCreating()">Continua a creare</button>
        </div>
      </div>
    </div>
  </div>